body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .container {
    text-align: center;
  }
  
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  h1 {
    font-size: 32px;
    color: #4a90e2;
    margin: 10px 0; /* Adjust the margin to suit your layout */
    text-align: left; /* Align the text to the left */
    padding-bottom : 10px; /* Optional: Add some padding for spacing */
  }
  
  label {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
    display: block;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357ab8;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }
  